body{
    background-color: rgb(240,234,248);
}

#line{
    text-decoration: underline; 
    font-size: 10x;
    /* color: yellow; */
}

.line2{
    color: orange;
}

.h4{
    color: rgb(95,99,103);
}

.close{
    color: red;
    padding-bottom: 20px;
}

#ass{
    color: red;
}

.outbox{
    background-color: white;
    border-radius: 8px;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
}

.submit{
    color: white;  
    background-color: rgb(103,58,182);
    border-radius: 3px;
    height: 35px;
    width: 90px;
}

.box{
 width: 100%;
 /* border: 2px solid red; */
 
}
.subbox{
    width: 45%;
    /* margin: 0 auto; */
    /* border: 2px solid yellow; */
    margin: 0px auto 0px auto;

}
input{
    accent-color: purple;
}

.submit-parent{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
    align-items: center;
}

.clear-form{
    color: rgb(103,58,182);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 40px;

}

#red-up{
    height: 13px;
    background-color: rgb(103,58,182);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 20px 0 20px;
}

.red-parent{
    /* border: 2px solid white; */
    background-color: white;
    border-radius: 8px;
    margin: 20px 10px 20px 10px;
}

#red-down{
    padding: 0 20px 0 20px;
}

.innerbox{
    padding-top: 0;
    margin-top: 0;
}

.Analysis{
    font-size: 40px;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .subbox{
        width: 80%;
    }
    
    .Analysis{
        font-size: 30px;
        font-weight: 600;
    }
  }